.cs-date-picker{
  display: inline-block;
  width: auto;
  min-width: 100px;
  box-sizing: border-box;
  vertical-align: middle;
  color: #515a6e;
  font-size: 14px;
  line-height: normal;
  position: relative;
}

.cs-date-picker-panel {
  width: auto;
  
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 2;
  transform-origin: center top 0px;
  transition: all 0.3s;
  will-change: top, left;
  top: 30px;
  left: 0;
  transform: scale(1, 0);
  opacity: 0;
  text-align: left;
}

.cs-date-picker-panel__header {
  padding: 10px 8px 6px;
  text-align: center;
}

.cs-date-picker-panel__icon-btn {
  font-size: 12px;
  color: #303133;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 6px
}

.cs-date-picker-panel__prev-btn {
  float: left;
}

.cs-date-picker-panel__next-btn {
  float: right;
}

.cs-date-picker__header-label {
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #606266
}

.cs-date-picker-panel__icon-btn:hover, .cs-date-picker__header-label:hover {
  color: #409eff
}

.cs-date-picker-panel__content {
  padding: 4px 8px;
  position: relative;
}

.cs-date-picker-panel__content-date {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.cs-date-picker-panel__content-date-row, .cs-date-picker-panel__content-date-row-week {
  display: flex;
}

.cs-date-picker-panel__content-date-row .cs-date-picker-panel__content-date-cell, .cs-date-picker-panel__content-date-cell-week {
  flex: 1;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: default;
  color: #515A6E;
}

.cs-date-picker-panel__content-date-cell.prev-month, .cs-date-picker-panel__content-date-cell.next-month {
  color: #c0c4cc;
}

.cs-date-picker-panel__content-date-cell.normal, .cs-date-picker-panel__content-date-cell.today {
  cursor: pointer;
}

.cs-date-picker-panel__content-date-cell.today, 
.cs-date-picker-panel__content-date-cell.normal:hover, 
.cs-date-picker-panel__content-year-cell:hover,
.cs-date-picker-panel__content-month-cell:hover {
  color: #409eff;
}

.cs-date-picker-panel__content-date-cell.active {
  color: #ffffff;
  position: relative;
}

.cs-date-picker-panel__content-date-cell.active::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-color: #409eff;
  border-radius: 50%;
}

.cs-date-picker-panel__content-year, .cs-date-picker-panel__content-month {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.cs-date-picker-panel__content-year .cs-date-picker-panel__content-year-cell,
.cs-date-picker-panel__content-month .cs-date-picker-panel__content-month-cell {
  width: 25%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: #515A6E;
}