@font-face {
  font-family: "p8"; /* Project id 4084759 */
  src: url('iconfont.woff2?t=1724203405847') format('woff2'),
       url('iconfont.woff?t=1724203405847') format('woff'),
       url('iconfont.ttf?t=1724203405847') format('truetype');
}

.p8 {
  font-family: "p8" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-B:before {
  content: "\e7e2";
}

.icon-xiaoshouzhoubao:before {
  content: "\e7db";
}

.icon-waibuhuiyi:before {
  content: "\e7dc";
}

.icon-canguanzhanlan:before {
  content: "\e7dd";
}

.icon-kehujiaoliu:before {
  content: "\e7de";
}

.icon-shichangtiaoyan:before {
  content: "\e7df";
}

.icon-jishuzhichi:before {
  content: "\e7e0";
}

.icon-meitixinxi:before {
  content: "\e7e1";
}

.icon-gaocengbaifang:before {
  content: "\e7d6";
}

.icon-waipinzhuanjia:before {
  content: "\e7d7";
}

.icon-jishujiaoliu:before {
  content: "\e7d8";
}

.icon-toubiaozongjie:before {
  content: "\e7d9";
}

.icon-goutonglihui:before {
  content: "\e7da";
}

.icon-a-xuqiu1:before {
  content: "\eb62";
}

.icon-shejigoutong:before {
  content: "\e620";
}

.icon-history:before {
  content: "\e603";
}

.icon-weiwancheng:before {
  content: "\e626";
}

.icon-jindufankui:before {
  content: "\e7d5";
}

.icon-shoudongpaicheng:before {
  content: "\e612";
}

.icon-zidongpaicheng:before {
  content: "\e7d4";
}

.icon-yiwancheng:before {
  content: "\e7d2";
}

.icon-jinhangzhong:before {
  content: "\e7d3";
}

.icon-xietongbianzhi:before {
  content: "\e7d1";
}

.icon-tongchoubohui:before {
  content: "\e7cd";
}

.icon-wanchengbohui:before {
  content: "\e7ce";
}

.icon-wanchengshenpi:before {
  content: "\e7cf";
}

.icon-yichuangjian:before {
  content: "\e7d0";
}

.icon-tongchoushenpi:before {
  content: "\e7ca";
}

.icon-bohuishenpi:before {
  content: "\e7cb";
}

.icon-fabushenpi:before {
  content: "\e7cc";
}

.icon-jpg:before {
  content: "\e614";
}

.icon-PNG:before {
  content: "\e627";
}

.icon-excel:before {
  content: "\e665";
}

.icon-GIF:before {
  content: "\e642";
}

.icon-txt:before {
  content: "\e644";
}

.icon-word:before {
  content: "\e683";
}

.icon-bpmn:before {
  content: "\e600";
}

.icon-jpeg:before {
  content: "\e773";
}

.icon-jihuajiankong:before {
  content: "\e63c";
}

.icon-conflict:before {
  content: "\e7c9";
}

.icon-bianjipeizhi:before {
  content: "\e7c8";
}

.icon-baobiaopeizhimingxi:before {
  content: "\e7c4";
}

.icon-zidingyicss:before {
  content: "\e7c2";
}

.icon-chaxunpeizhi:before {
  content: "\e7c3";
}

.icon-biaogeanniu:before {
  content: "\e7c5";
}

.icon-zidingyiliepeizhi:before {
  content: "\e7c6";
}

.icon-baobiaocanshu:before {
  content: "\e7c7";
}

.icon-fenjielianjiexian:before {
  content: "\e7b6";
}

.icon-tianshu:before {
  content: "\e7c1";
}

.icon-yidong:before {
  content: "\e7b8";
}

.icon-xinjianhuodong:before {
  content: "\e7b9";
}

.icon-juzhongxianshi:before {
  content: "\e7ba";
}

.icon-PERTtu:before {
  content: "\e7bb";
}

.icon-suoxiao:before {
  content: "\e7bc";
}

.icon-huodongxinxishezhi:before {
  content: "\e7bd";
}

.icon-WBStu:before {
  content: "\e7be";
}

.icon-fangda1:before {
  content: "\e7bf";
}

.icon-shiyingpingmu:before {
  content: "\e7b5";
}

.icon-qianhouzhilianjiexian:before {
  content: "\e7b7";
}

.icon-content-adjustment:before {
  content: "\e7b2";
}

.icon-make-reductions:before {
  content: "\e7b3";
}

.icon-make-increase:before {
  content: "\e7b4";
}

.icon-yiwanchengshu:before {
  content: "\e7b0";
}

.icon-jinhangzhongshu:before {
  content: "\e7b1";
}

.icon-weiwanchengshu:before {
  content: "\e7ad";
}

.icon-renwuzonge:before {
  content: "\e7af";
}

.icon-fangda:before {
  content: "\e7a9";
}

.icon-shuruyaoqiu:before {
  content: "\e7a2";
}

.icon-yitijiaoshuchuwu:before {
  content: "\e7a3";
}

.icon-tebieshuoming:before {
  content: "\e7a4";
}

.icon-shuchuyaoqiu:before {
  content: "\e7a5";
}

.icon-circle:before {
  content: "\e64f";
}

.icon-wanchengzhikaishi:before {
  content: "\e79e";
}

.icon-kaishizhiwancheng:before {
  content: "\e79f";
}

.icon-wanchengzhiwancheng:before {
  content: "\e7a0";
}

.icon-kaishizhikaishi:before {
  content: "\e7a1";
}

.icon-train1:before {
  content: "\e687";
}

.icon-guanlianrenwu:before {
  content: "\e789";
}

.icon-renwuxiangxixinxi:before {
  content: "\e795";
}

.icon-guanliyaosu:before {
  content: "\e799";
}

.icon-zuoshoujin:before {
  content: "\e79c";
}

.icon-youshoujin:before {
  content: "\e79d";
}

.icon-cancel-task-type:before {
  content: "\e785";
}

.icon-cancel-format:before {
  content: "\e786";
}

.icon-mouse-pointer:before {
  content: "\e788";
}

.icon-issuance-notice:before {
  content: "\e7a6";
}

.icon-task-distribute:before {
  content: "\e7a7";
}

.icon-zhiliang:before {
  content: "\e784";
}

.icon-jindu:before {
  content: "\e783";
}

.icon-termination:before {
  content: "\e7f8";
}

.icon-contrast:before {
  content: "\e794";
}

.icon-project-import:before {
  content: "\e776";
}

.icon-project-export:before {
  content: "\e777";
}

.icon-copy:before {
  content: "\e778";
}

.icon-revoke:before {
  content: "\e779";
}

.icon-downgrade:before {
  content: "\e77a";
}

.icon-upgrade:before {
  content: "\e77b";
}

.icon-my-experience-base:before {
  content: "\e77c";
}

.icon-paste:before {
  content: "\e77d";
}

.icon-redo:before {
  content: "\e77e";
}

.icon-knowledge-base-import:before {
  content: "\e77f";
}

.icon-resource-view:before {
  content: "\e780";
}

.icon-task-details:before {
  content: "\e781";
}

.icon-version-list:before {
  content: "\e7a8";
}

.icon-create-version:before {
  content: "\e7aa";
}

.icon-pause:before {
  content: "\e842";
}

.icon-third-menu:before {
  content: "\e775";
}

.icon-exit-fullscreen:before {
  content: "\e796";
}

.icon-right:before {
  content: "\e748";
}

.icon-drilling:before {
  content: "\e782";
}

.icon-dialog-fullscreen:before {
  content: "\e797";
}

.icon-dialog-exit-fullscreen:before {
  content: "\e798";
}

.icon-download-document-manage:before {
  content: "\e79b";
}

.icon-fill-in-approval-comments:before {
  content: "\e629";
}

.icon-youzhedie1:before {
  content: "\e6c0";
}

.icon-zuozhedie1:before {
  content: "\e747";
}

.icon-zuozhedie:before {
  content: "\e6c1";
}

.icon-youzhedie:before {
  content: "\e746";
}

.icon-message:before {
  content: "\e740";
}

.icon-modify-password:before {
  content: "\e741";
}

.icon-down:before {
  content: "\e742";
}

.icon-project-manage:before {
  content: "\e743";
}

.icon-resource-manage:before {
  content: "\e744";
}

.icon-maximize:before {
  content: "\e74a";
}

.icon-model-information-manage:before {
  content: "\e74b";
}

.icon-left:before {
  content: "\e74c";
}

.icon-comprehensive-dispatching-meeting:before {
  content: "\e74d";
}

.icon-fold-left:before {
  content: "\e74e";
}

.icon-drag-size:before {
  content: "\e750";
}

.icon-court-order:before {
  content: "\e751";
}

.icon-milepost:before {
  content: "\e752";
}

.icon-triangle:before {
  content: "\e753";
}

.icon-hollow-circle:before {
  content: "\e754";
}

.icon-diamond:before {
  content: "\e755";
}

.icon-filled-circle:before {
  content: "\e756";
}

.icon-ring:before {
  content: "\e757";
}

.icon-team-analyze:before {
  content: "\e758";
}

.icon-cost:before {
  content: "\e759";
}

.icon-checkList:before {
  content: "\e75a";
}

.icon-center-layout:before {
  content: "\e75b";
}

.icon-settings:before {
  content: "\e75c";
}

.icon-concerns:before {
  content: "\e75d";
}

.icon-global-layout:before {
  content: "\e75e";
}

.icon-other-process-import:before {
  content: "\e75f";
}

.icon-WBS:before {
  content: "\e760";
}

.icon-global-display:before {
  content: "\e761";
}

.icon-entry:before {
  content: "\e762";
}

.icon-center-display:before {
  content: "\e763";
}

.icon-project-plan-import:before {
  content: "\e764";
}

.icon-left-layout:before {
  content: "\e765";
}

.icon-quality-requirement:before {
  content: "\e766";
}

.icon-file-template:before {
  content: "\e767";
}

.icon-right-layout:before {
  content: "\e768";
}

.icon-mind-map:before {
  content: "\e769";
}

.icon-help-tips:before {
  content: "\e76a";
}

.icon-task-message:before {
  content: "\e76b";
}

.icon-link:before {
  content: "\e76c";
}

.icon-planning:before {
  content: "\e76d";
}

.icon-notification-message:before {
  content: "\e76e";
}

.icon-mail:before {
  content: "\e76f";
}

.icon-all-news:before {
  content: "\e770";
}

.icon-read-mail:before {
  content: "\e771";
}

.icon-warning-threshold:before {
  content: "\e772";
}

.icon-plan-overview:before {
  content: "\e774";
}

.icon-remove:before {
  content: "\e7c0";
}

.icon-system-manage:before {
  content: "\e787";
}

.icon-standard-team-definition:before {
  content: "\e74f";
}

.icon-common-resource-manage:before {
  content: "\e749";
}

.icon-project-planning:before {
  content: "\e78a";
}

.icon-output-process-manage:before {
  content: "\e78b";
}

.icon-personal-workbench:before {
  content: "\e78c";
}

.icon-third-interface-execution-history:before {
  content: "\e78d";
}

.icon-plan-examine:before {
  content: "\e78e";
}

.icon-role-manage:before {
  content: "\e78f";
}

.icon-process-resource-template:before {
  content: "\e790";
}

.icon-task-statistics-query:before {
  content: "\e791";
}

.icon-my-document:before {
  content: "\e792";
}

.icon-person-manage:before {
  content: "\e793";
}

.icon-bayuanzhongdiankaohejihua:before {
  content: "\e680";
}

.icon-team-manage:before {
  content: "\e79a";
}

.icon-process-tracking-view:before {
  content: "\e745";
}

.icon-at1:before {
  content: "\e713";
}

.icon-replace-responsible-person:before {
  content: "\e714";
}

.icon-modify2:before {
  content: "\e715";
}

.icon-project-information:before {
  content: "\e716";
}

.icon-filter:before {
  content: "\e717";
}

.icon-planning-time-information:before {
  content: "\e718";
}

.icon-upload-success:before {
  content: "\e719";
}

.icon-release:before {
  content: "\e71a";
}

.icon-newAdd:before {
  content: "\e71b";
}

.icon-view:before {
  content: "\e71c";
}

.icon-model-related-information:before {
  content: "\e71d";
}

.icon-base-information:before {
  content: "\e71e";
}

.icon-project-overview:before {
  content: "\e71f";
}

.icon-add:before {
  content: "\e720";
}

.icon-logout:before {
  content: "\e721";
}

.icon-dept-manage:before {
  content: "\e722";
}

.icon-third-interface-abnormal-monitoring:before {
  content: "\e723";
}

.icon-timing-task-manage:before {
  content: "\e724";
}

.icon-personal-setting:before {
  content: "\e725";
}

.icon-multi-project-manage:before {
  content: "\e726";
}

.icon-classify:before {
  content: "\e727";
}

.icon-close:before {
  content: "\e728";
}

.icon-plan-manage:before {
  content: "\e729";
}

.icon-third-interface-manage:before {
  content: "\e72a";
}

.icon-planned-assessment:before {
  content: "\e72b";
}

.icon-classified-manage:before {
  content: "\e72c";
}

.icon-plan-finish-rate:before {
  content: "\e72d";
}

.icon-base-data-manage:before {
  content: "\e72e";
}

.icon-process-template:before {
  content: "\e72f";
}

.icon-log-list:before {
  content: "\e730";
}

.icon-approval:before {
  content: "\e731";
}

.icon-up:before {
  content: "\e732";
}

.icon-plan-type-completion:before {
  content: "\e733";
}

.icon-log-audit:before {
  content: "\e734";
}

.icon-function-setting:before {
  content: "\e735";
}

.icon-drag:before {
  content: "\e736";
}

.icon-data-information:before {
  content: "\e737";
}

.icon-my-task:before {
  content: "\e738";
}

.icon-lock:before {
  content: "\e739";
}

.icon-my-work:before {
  content: "\e73a";
}

.icon-equipment-resource-manage:before {
  content: "\e73b";
}

.icon-refresh:before {
  content: "\e73c";
}

.icon-system-settings:before {
  content: "\e73d";
}

.icon-project-quality:before {
  content: "\e73e";
}

.icon-system-log:before {
  content: "\e73f";
}

.icon-column-settings:before {
  content: "\e7ab";
}

.icon-menu-config:before {
  content: "\e7ac";
}

.icon-view-output:before {
  content: "\e7ae";
}

.icon-new-sibling:before {
  content: "\e707";
}

.icon-new-subordinate:before {
  content: "\e708";
}

.icon-delete:before {
  content: "\e709";
}

.icon-bold:before {
  content: "\e70a";
}

.icon-italic:before {
  content: "\e70b";
}

.icon-excel-export:before {
  content: "\e70c";
}

.icon-underline:before {
  content: "\e70d";
}

.icon-edit-view:before {
  content: "\e70e";
}

.icon-critical-path:before {
  content: "\e70f";
}

.icon-excel-import:before {
  content: "\e710";
}

.icon-gantt:before {
  content: "\e711";
}

.icon-full-screen:before {
  content: "\e712";
}

.icon-rizhiguanli:before {
  content: "\e6ff";
}

.icon-jibenshezhi1:before {
  content: "\e700";
}

.icon-jiaoseguanli1:before {
  content: "\e701";
}

.icon-woderenwu:before {
  content: "\e702";
}

.icon-duoxiangmuguanli:before {
  content: "\e703";
}

.icon-chanchuliuchengguanli:before {
  content: "\e704";
}

.icon-biaozhuntuanduiguanli:before {
  content: "\e705";
}

.icon-xinghaoxinxiguanli:before {
  content: "\e706";
}

.icon-wodeshenpi:before {
  content: "\e6f4";
}

.icon-gongnengshezhi1:before {
  content: "\e6f5";
}

.icon-bumenrenwupaifa:before {
  content: "\e6f6";
}

.icon-jichushujuguanli:before {
  content: "\e6f7";
}

.icon-xiangmulixiang:before {
  content: "\e6f8";
}

.icon-ziyuanguanli:before {
  content: "\e6f9";
}

.icon-wodegongzuo:before {
  content: "\e6fa";
}

.icon-tuanduiguanli:before {
  content: "\e6fb";
}

.icon-wodedaiban:before {
  content: "\e6fc";
}

.icon-zhishiguanliku:before {
  content: "\e6fd";
}

.icon-jihuaguanli:before {
  content: "\e6fe";
}

.icon-zujianku:before {
  content: "\e6f3";
}

.icon-daichuli:before {
  content: "\e6ed";
}

.icon-fenzu:before {
  content: "\e6e7";
}

.icon-weidu:before {
  content: "\e6e9";
}

.icon-liuchenggenzongshitu:before {
  content: "\e6eb";
}

.icon-shenpilishi:before {
  content: "\e6ec";
}

.icon-yichuli:before {
  content: "\e6ee";
}

.icon-yidu:before {
  content: "\e6ef";
}

.icon-zong:before {
  content: "\e6f0";
}

.icon-quanbu:before {
  content: "\e6f1";
}

.icon-shenpineirong:before {
  content: "\e6f2";
}

.icon-mima:before {
  content: "\e6e5";
}

.icon-yonghuming:before {
  content: "\e6e6";
}

.icon-liuchengziyuanmoban:before {
  content: "\e6ea";
}

.icon-shuzurongqi2:before {
  content: "\e6e8";
}

.icon-danhangwenben:before {
  content: "\e6cd";
}

.icon-danxuankuangzu:before {
  content: "\e6ce";
}

.icon-jisuanqi:before {
  content: "\e6cf";
}

.icon-kaiguan:before {
  content: "\e6d0";
}

.icon-duixiangrongqi:before {
  content: "\e6d1";
}

.icon-duohangwenben:before {
  content: "\e6d2";
}

.icon-anniu:before {
  content: "\e6d3";
}

.icon-duoxuankuangzu:before {
  content: "\e6d4";
}

.icon-mijizujian:before {
  content: "\e6d5";
}

.icon-danchuxuanze:before {
  content: "\e6d6";
}

.icon-riqifanwei:before {
  content: "\e6d7";
}

.icon-bianjiqi:before {
  content: "\e6d8";
}

.icon-shijianfanwei:before {
  content: "\e6d9";
}

.icon-zhucongbiao:before {
  content: "\e6da";
}

.icon-shuxingxialaxuanze:before {
  content: "\e6db";
}

.icon-shangchuanfujian:before {
  content: "\e6dc";
}

.icon-zidongwanchengshuru:before {
  content: "\e6dd";
}

.icon-shujuxianshi:before {
  content: "\e6de";
}

.icon-hangrongqi:before {
  content: "\e6df";
}

.icon-fuxuankuangqi:before {
  content: "\e6e0";
}

.icon-shijianxuanze:before {
  content: "\e6e1";
}

.icon-riqixuanze:before {
  content: "\e6e2";
}

.icon-xialaxuanze:before {
  content: "\e6e3";
}

.icon-shuzurongqi:before {
  content: "\e6e4";
}

.icon-jianhao:before {
  content: "\e6c2";
}

.icon-sousuo:before {
  content: "\e6c3";
}

.icon-xinjian:before {
  content: "\e6c4";
}

.icon-shuaxin:before {
  content: "\e6c5";
}

.icon-tupian:before {
  content: "\e6c6";
}

.icon-jiahao:before {
  content: "\e6c7";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-xiala:before {
  content: "\e6c9";
}

.icon-shezhi:before {
  content: "\e6ca";
}

.icon-daochu:before {
  content: "\e6cb";
}

.icon-tishi:before {
  content: "\e6cc";
}

.icon-shujuyuanguanli:before {
  content: "\e6bf";
}

.icon-tubiao1:before {
  content: "\e68e";
}

.icon-rizhiliebiao1:before {
  content: "\e68f";
}

.icon-xiangmuguanli1:before {
  content: "\e691";
}

.icon-zhiliangguanli1:before {
  content: "\e692";
}

.icon-dingshirenwuguanli1:before {
  content: "\e693";
}

.icon-kanbanshezhi1:before {
  content: "\e694";
}

.icon-liuchengshiliguanli1:before {
  content: "\e695";
}

.icon-xitongshezhi1:before {
  content: "\e697";
}

.icon-xiazaiwendangguanli1:before {
  content: "\e698";
}

.icon-xiangmuguanli2:before {
  content: "\e6bd";
}

.icon-xuanxiang1:before {
  content: "\e6be";
}

.icon-buju:before {
  content: "\e699";
}

.icon-biaoge:before {
  content: "\e69a";
}

.icon-bumenguanli:before {
  content: "\e69b";
}

.icon-cunchu:before {
  content: "\e69c";
}

.icon-disanfangjiekouguanli:before {
  content: "\e69d";
}

.icon-biaodan:before {
  content: "\e69e";
}

.icon-gongnengshezhi:before {
  content: "\e69f";
}

.icon-duoxiangmuzongheguanli:before {
  content: "\e6a0";
}

.icon-dingshirenwuguanli:before {
  content: "\e6a1";
}

.icon-disanfangjiekouzhixinglishijilu:before {
  content: "\e6a2";
}

.icon-disanfangjiekouyichangjiankong:before {
  content: "\e6a3";
}

.icon-guolvfuwu:before {
  content: "\e6a4";
}

.icon-jichu:before {
  content: "\e6a5";
}

.icon-jiaoseguanli:before {
  content: "\e6a6";
}

.icon-kanbanshezhi:before {
  content: "\e6a7";
}

.icon-jibenshezhi:before {
  content: "\e6a8";
}

.icon-liuchengshiliguanli:before {
  content: "\e6a9";
}

.icon-liuchengmoban:before {
  content: "\e6aa";
}

.icon-rizhiliebiao:before {
  content: "\e6ab";
}

.icon-renyuanguanli:before {
  content: "\e6ac";
}

.icon-shujuzidianguanli:before {
  content: "\e6ad";
}

.icon-shujushitu:before {
  content: "\e6ae";
}

.icon-rizhishenji:before {
  content: "\e6af";
}

.icon-tubiao:before {
  content: "\e6b0";
}

.icon-waiguanshezhi:before {
  content: "\e6b1";
}

.icon-xuanxiang:before {
  content: "\e6b2";
}

.icon-xiazaiwendangguanli:before {
  content: "\e6b3";
}

.icon-wuziguanli:before {
  content: "\e6b4";
}

.icon-yewuliuchengguanli:before {
  content: "\e6b5";
}

.icon-xitongrizhi:before {
  content: "\e6b6";
}

.icon-xiangmuguanli:before {
  content: "\e6b7";
}

.icon-xitongguanli:before {
  content: "\e6b8";
}

.icon-zichanguanli:before {
  content: "\e6b9";
}

.icon-zujianguanli:before {
  content: "\e6ba";
}

.icon-xitongshezhi:before {
  content: "\e6bb";
}

.icon-zhiliangguanli:before {
  content: "\e6bc";
}

