@charset "UTF-8";
@import "./commonStyle/common";
// @import "mixins/mixins";
.el-button--primary {
  background-color: $theme-color !important;
  border-color: $theme-color !important;
}

.el-button--primary.is-plain {
  color: $button-disabled-color !important;
}

.commonButton {
  .el-button--primary {
    // background-color: $base-light-color;
    // border-color: $base-light-color;
  }

  .el-dropdown {
    .el-button--small {
      padding: 9px;
    }
  }

  .el-button--small {
    padding: 9px 14px;
    margin-right: 12px;
    margin-top: 3px;

    > i {
      float: left;
      font-size: 12px;
    }

    > span {
      float: left;
      // margin-left: 2px;
      // margin-top: 3px;
    }
  }

  .el-button--primary.is-disabled,
  .el-button--primary.is-disabled:hover,
  .el-button--primary.is-disabled:focus,
  .el-button--primary.is-disabled:active {
    color: $button-disabled-color !important;
    background-color: $button-disabled-background-color !important;
    border-color: $button-disabled-border-color !important;
  }
  .el-button-group {
    .el-button {

      &:first-child {
        z-index:2;
        border-right-color: rgba(225, 225, 225, 0.5) !important;
      }

      &:not(:first-child):not(:last-child) {
        z-index:2;
        border-left-color: rgba(225, 225, 225, 0.5) !important;
        border-right-color: rgba(225, 225, 225, 0.5) !important;
      }
    }
    .el-button--primary {

      &:first-child {
        z-index:2;
        border-right-color: rgba(225, 225, 225, 0.5) !important;
      }

      &:not(:first-child):not(:last-child) {
        z-index:2;
        border-left-color: rgba(225, 225, 225, 0.5) !important;
        border-right-color: rgba(225, 225, 225, 0.5) !important;
      }
    }
  }
}
@media (max-width: 1100px) {
  .el-dropdown-menu .el-button--small {
    padding: 5px 7px !important;
    margin:0 3px;
    i {
      font-size: 12px;
    }
  }
  .mobileButton {
    white-space: nowrap;
    height: 27px;
    overflow: auto;
    .el-button--small{
      padding: 5px 7px;
      margin-right: 3px;
    }
    .el-dropdown {
      vertical-align: bottom;
      button {
        padding: 5px 7px !important;
      }
      i {
        font-size: 12px !important;
      }
    }
  }
}


