@charset "UTF-8";
@import "./commonStyle/common";
// @import "mixins/mixins";

.el-icon-delete {
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    color: $base-light-color;
  }

  &.is-disabled {
    cursor: not-allowed;
    color: $editTable-disabled-color;
    &:hover {
      color: $editTable-disabled-hover-color;
    }
  }
}
