@charset "UTF-8";
@import "./commonStyle/common";
// @import "mixins/mixins";

.list-layout {
  height: calc(100% - 30px);
  margin: $layout-margin;
  overflow: hidden;
  background: $listLayout-background;
}
.list-header {
  padding: 10px $layout-padding;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: $layout-header-background;
  // border-bottom: 1px solid $editTable-disabled-hover-border-color;
  border-radius: 5px 5px 0 0;
}
.list-main.fullHeight {
  height: 100%;
}
.list-main {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  padding: 0 $layout-padding;
  box-sizing: border-box;
}

/*  数组容器，单行模式  */
.list-layout-line {
  margin-top: 20px;
  padding: 10px;
  &:nth-child(2n) {
    background: #FAFAFA;
    border-radius: 6px;
  }
}
