@charset "UTF-8";
@import "./commonStyle/common";
// @import "mixins/mixins";

.menuLayout.el-container {
  height: calc(100% - 20px);
  .el-header {
    height: 50px !important;
    padding: 0;
  }

  .el-main {
    padding: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
    > div:only-child {
      height: inherit;
      width: 100%;
      position: absolute;
      > div:only-child {
        height: 100%;
      }
    }
  }
}
.el-menu-demo.el-menu--horizontal {
  border-bottom: $base-line-color;

  &::before {
    height: 1px;
    width: 100%;
    background: $base-line-color;
    position: absolute;
    top: 49px;
    left: 0;
  }

  > .el-menu-item {
    line-height: 50px !important;
    height: 50px !important;
    color: $base-menu-text-color;
    font-weight: bold;
    border-bottom: 1px solid #e6e6e6 !important;

    &.is-active {
      color: $theme-color !important;
      border-bottom: 2px solid $theme-color !important;
    }

    &:hover {
      color: $base-light-color;
      border-bottom: 2px solid $theme-color !important;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .el-menu.el-menu--horizontal{
    border-bottom:solid 1px #e6e6e6;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    width: 90%;
  }
  .el-menu.el-menu--horizontal::-webkit-scrollbar {
    display: none;
  }
}
