@charset "UTF-8";
// @import "./commonStyle/common";
// @import "mixins/mixins";
// @import "commonStyle/customBpm";

.bpmn-view-con {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  .bpmn-view-canvas {
    float: left;
    width: 100%;
    height: 90%;
  }
  .bpmn-tip-left,
  .bpmn-tip-right {
    position: absolute;
    top: 0;
    padding: 10px;
    li {
      padding: 4px 0;
      span {
        display: flex;
      }
    }
  }
  .bpmn-tip-left {
    left: 0;
  }
  .bpmn-tip-right {
    right: 0;
  }
}
.diagram-note {
  width: 300px;
  min-height: 40px;
  border-radius: 6px;
  background-color: rgba(6, 161, 252, 0.2);
  box-sizing: border-box;
  .diagram-note-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 0;
    line-height: 30px;
    border-bottom: 1px solid #fafafa;
    &.title {
      font-size: 14px;
    }
    span:nth-child(1) {
      width: 25%;
      padding: 0 4px;
      text-align: right;
    }
    span:nth-child(2) {
      width: 75%;
      padding: 0 4px;
    }
  }
}
.bpmFullHeight{
  height: 100% !important;
}
