@charset "UTF-8";
@import "./commonStyle/common";
// @import "mixins/mixins";

.search-wrapper {
  height: 40px;
  float: right;
  position: relative;
  top: -3px;
  // z-index: 4;
  right: 15px;

  .search-contain {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: $base-white-color;
    border: 1px solid rgba(238, 238, 240, 1);
    box-shadow: 0px 0px 10px 0px rgba(231, 237, 255, 0.5);
    border-radius: 4px;

    .el-input__inner {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    .el-select {
      width: 100%;
    }

    .el-form-item__label {
      font-size: 12px;
    }

    .el-input--small .el-input__inner {
      font-size: 12px;
    }
  }

  .flex-right {
    display: flex;
    justify-content: flex-end;
  }

  .el-input__suffix {
    i {
      cursor: pointer;

      &.el-icon-close {
        margin-right: 5px;
        font-size: 16px;
        vertical-align: middle;
      }
    }
  }
  .el-input.is-disabled .el-input__inner {
    background-color: #ffffff;
  }
}
